nav.container-fluid {
    background: white;
    padding: 0 2rem;
    border-bottom: 1px solid #e1e1e1;
    height: 80px; /* Altura fixa para o header não "dançar" */
}

.center-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.center-page form{
    width: 100%;
    max-width: 450px;       /* Define uma largura confortável para o formulário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt_center-page{
    text-align: center;
}

/* Ajuste dos inputs para não espalharem horizontalmente */
.email, .password, .envia {
    width: 100% !important;
    max-width: 400px !important;
    margin: 0.5rem 0;
}