nav.container-fluid {
    background: #011936;
    padding: 0 2rem;
    border-bottom: 1px solid #011936;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    overflow-x: hidden; /* Evita barra de rolagem horizontal indesejada */
    margin: 0;
}

.page-wrapper {
    display: flex;
    width: calc(100% + 300px); /* Largura total + largura da sidebar */
    transition: transform 0.3s ease-in-out;
}

.main-content {
    flex: 0 0 100vw; /* Não deixa a área principal encolher */
    width: 100vw;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background: #011936;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* Ela já fica naturalmente à direita do main-content por causa do flex */
}

/* Classe que será alternada pelo JavaScript */
.sidebar-open {
    transform: translateX(-300px);
}
.center-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.center-page form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.remember{
    width: 100%;
    align-self: flex-start;
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rememberme {
    width: 100%;
    align-self: flex-start;
    padding-left: 24px;
    display: flex;
    justify-content: flex-start;
}

.titulo_form_sign, .titulo_form_login{
    color: #556577;
}

.txt_center-page{
    text-align: center;
}

/* Ajuste dos inputs para não espalharem horizontalmente */
.email, .password, .envia, .fname, .lname, .niver {
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 0;
}